.page-wrapper {
  position: relative;

  min-width: 320px;
}

@media (min-width: 768px) {
  .page-wrapper {
    margin: 0 auto;
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .page-wrapper {
    margin: 0 auto;
    width: 1200px;

    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
  }
}
