@font-face {
  font-family: "PT Sans";
  src:
    local("PT Sans"),
    local("PTSans"),
    local("PT-Sans"),
    local("PT_Sans");
  src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src:
    local("PT Sans Bold"),
    local("PTSansBold"),
    local("PT-Sans-Bold"),
    local("PT_Sans_Bold");
  src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  text-transform: uppercase;
}


@media (min-width: 1200px) {
  body {
    background-color: #f2f2f2;
  }
}
