.advantages{}
.advantages-intro{
  background-color: $background-main;
  margin-bottom: 35px;
  position: relative;

  &:before{
    display: block;
    position: absolute;
    content: '';
    background-image: url('/img/bg-triangle.svg');
    top: 0;
    left: 0;
    width: 100%;
    height: 37px;

  }
}
.advantages__decor{
  position: relative;
  width: 100%;
  background-color: transparent;
}
.advantages__decor-right{
  position: absolute;
  bottom: 0;
  right: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  border-right: 160px solid $background-main;
}
.advantages__decor-left{
  position: absolute;
  bottom: 0;
  left: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  border-left: 160px solid $background-main;
}
.advantages-intro__header{
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  margin: 0;
  padding-top: 80px;
}
.advantages-intro__description{
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 45px;
}
.advantages__list{
  @include list-style-none;
}
.advantages__item{
  padding-left: 72px;
  margin-bottom: 32px;
  position: relative;

  &:nth-of-type(2){
    margin-bottom: 40px;
  }
}
.advantages__item-header{
  font-size: 18px;
  margin: 0;
  margin-bottom: 18px;
}
.advantages__item-description{
  font-size: 14px;
  line-height: 20px;
  padding-right: 20px;
  margin: 0;
}
.advantages__icon{
  position: absolute;
  top: -10px;
  left: 20px;
}
.advantages__icon-svg{
  width: 50px;
  height: 50px;
  fill: $background-main;
}
.advantages-block{
  background-color: $background-main;
  margin-bottom: 10px;
};
.advantages-block__header{
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-top: 42px;
  margin: 0;
  margin-bottom: 17px;

  &--white{
    color: #ffffff;
  }
}
.advantages-block__description{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 40px;

  &--white{
    color: #ffffff;
  }
}
.advantages-block__image{
  width: 100%;
  height: 250px;
}

.block-list{
  padding-top: 17px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #eeeeee;
}

.block-list__header{
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 10px;
}

.block-list__description{
  font-size: 14px;
  text-align: center;
}
.block-list__tablet-br{
  display: none;
}
@media(min-width: $tablet-width){
  .advantages-intro{
    display: flex;
    margin-bottom: 60px;
  }
  .advantages__decor{
    display: none;
  }
  .text-wrapper{
    flex: 1 1 256px;
  }
  .img-wrapper{
    flex: 1 1 512px;
    max-height: 256px;
    overflow: hidden;
  }
  .advantages__image{
    width: 100%;
  }
  .advantages__list{
    display: flex;
    margin-bottom: 15px;
  }
  .advantages__item{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
  }
  .advantages__icon{
    top: 0;
    left: 50%;
    margin-left: -40px;
  }
  .advantages__icon-svg{
    width: 100px;
    height: 100px;
  }
  .advantages__item--order{
    &:nth-of-type(1){

    }
    &:nth-of-type(2){
      order: 1;
    }
    &:last-of-type{
      order: 2;
    }
  }
  .advantages__item-header{
    text-align: center;
    font-size: 21px;
  }
  .advantages__item-description{
    text-align: center;
  }
  .advantages-block{
    display: flex;
  }
  .advantages-block__elem-order{
    &:first-of-type{
      order: 2;
    }
  }
  .block-list{
    padding: 40px;
  }
  .block-list__header{
    font-size: 21px;
    margin-bottom: 30px;
  }
}
