.advantages{}
.advantages-intro{
  background-color: $background-main;
}
.advantages-intro__header{
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  padding-top: 45px;
  line-height: 30px;
}
.advantages-intro__description{
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  padding-top: 25px;
}

.advantages__list{
  @include list-style-none;
  padding-top: 25px;
  padding-bottom: 42px;
  margin: 0;
}
.advantages__item{
  padding-left: 50px;
}
.advantages__item-header{
  font-size: 18px;
  margin-bottom: 25px;
}
.advantages__item-description{
  font-size: 14px;
}
.advantages-block{
  background-color: $background-main;
};
.advantages-block__header{
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-top: 45px;

  &--white{
    color: #ffffff;
  }
}
.advantages-block__description{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  padding-top: 25px;
  padding-bottom: 46px;


  &--white{
    color: #ffffff;
  }
}
.advantages-block__image{
  width: 100%;
}

.block-list{
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #eeeeee;
}

.block-list__header{
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 24px;
}

.block-list__description{
  font-size: 14px;
  text-align: center;
}
@media(min-width: $tablet-width){
  .advantages-intro{
    display: flex;
  }
  .text-wrapper{
    flex: 1 1 256px;
  }
  .img-wrapper{
    flex: 1 1 512px;
    max-height: 256px;
    overflow: hidden;
  }
  .advantages__image{
    width: 100%;
  }
  .advantages__list{
    display: flex;
  }
  .advantages__item{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .advantages__item-header{
    text-align: center;
  }
  .advantages__item-description{
    text-align: center;
  }
  .advantages-block{
    display: flex;
  }
  .advantages-block__elem-order{
    &:first-of-type{
      order: 2;
    }
  }
  .block-list{

  }
}
