.advantages{

  &-intro{
    background: $background-main;

    &__header{
      @include font-bold;
      color: #ffffff;
      font-size: 21px;
      text-align: center;
      padding-top: 45px;
      line-height: 30px;
    }

    &__description{
      @include font-normal;
      color: #ffffff;
      font-size: 14px;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 46px;
    }
  }

  &__image{
    width: 100%;
  }

  &__list{
    @include list-style-none;
    padding-bottom: 44px;
  }

  &__item{
    padding-left: 50px;
    padding-top: 53px;

    &-header{
      @include font-bold;
      font-size: 18px;
      padding-bottom: 22px;
    }
    &-description{
      @include font-normal;
      font-size: 14px;
    }
  }

  &-block{
    &__header{
      @include font-bold;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      padding-top: 45px;

      &--white{
        color: #ffffff;
      }
    }

    &__description{
      @include font-normal;
      text-align: center;
      font-size: 14px;
      line-height: 21px;
      padding-top: 25px;
      padding-bottom: 46px;

      &--white{
        color: #ffffff;
      }
    }

    &__image{
      width: 100%;
    }

    &--bgcolor{
      background-color: $background-main;
    }
  }
}
.block-list{
  @include font-normal;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #eeeeee;

  &__header{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-bottom: 24px;
  }

  &__description{
    font-size: 14px;
    text-align: center;
  }
}
