fieldset{
  padding: 0;
}
.main-form{
  margin-bottom: 36px;
}
.main-form__fieldset{
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d6d6d6;
}
.main-form__btn{
  display: block;
  margin: auto;
  padding: 16px 15px;
  width: 280px;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  background-color: $background-main;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
  font-family: "PT Sans", sans-serif;
}
.fieldset-header{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  flex-basis: 100%;
  margin-bottom: 17px;
}
.fieldset-label{
  font-size: 14px;
}
.fieldset-input{
  margin-bottom: 18px;
  outline: none;
  background-color: #eeeeee;
  border: none;
  width: 100%;
  height: 58px;
  font-weight: 700;
  font-size: 18px;
  overflow: hidden;
  padding-left: 23px;
}
.username__item{
  width: 100%;
  display: flex;
  align-items: baseline;
}
.username__label{
  margin-right: 15px;
}
.username__input{
}
.user-contacts{
  flex-direction: column;
}
.user-contacts__header{
  margin-bottom: 23px;
}
.user-contacts__input{
  width: 80%;
  outline: none;
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
}
.user-contacts__label{
  margin-bottom: 10px;
  margin-left: 20px;
}
.user-op{
  flex-direction: column;
  text-align: right;
}
.user-op__header{
  margin-bottom: 40px;
}
.user-op__input{
  display: none;

  &:checked + .user-op__label::after{
    display: block;
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    top: 2px;
    left: 17px;
    border-radius: 50%;
    background-color: #333;
    }
}
.user-op__label{
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin-bottom: 50px;
  text-transform: none;
  text-align: left;
  padding-left: 80px;

  &:before{
    display: block;
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    top: -15px;
    left: 0;
    border-radius: 50%;
    background-color: #f2f2f2;
  }

  &:last-of-type{
    margin-bottom: 35px;
  }
}
.user-visited{
  font-size: 18px;
  flex-direction: column;
}
.user-visited__header{
  margin-bottom: 40px;
}
.user-visited__label{
  position: relative;
  text-align: right;
  margin-bottom: 58px;
  text-transform: none;
  text-align: left;
  font-weight: bold;
  padding-left: 80px;


  &:before{
    display: block;
    position: absolute;
    content: '';
    width: 56px;
    height: 56px;
    top: -18px;
    left: 0;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  &:last-of-type{
    margin-bottom: 41px;
  }
}
.user-visited__input{
  display: none;

  &:checked + .user-visited__label::after{
    display: block;
    position: absolute;
    content: '';
    top: -4px;
    left: 20px;
    width: 11px;
    height: 18px;
    border-bottom: 4px solid #231f20;
    border-right: 4px solid #231f20;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 5px;
    transform: rotate(45deg);

  }
}
.user-feedback{
  flex-direction: column;
  margin-bottom: 40px;
}
.user-feedback__header{
  margin-top: 10px;
}
.textarea-container{
  flex-basis: 100%;
}
.user-feedback__text{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  resize: none;
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  padding: 16px 20px 20px;
  align-self: center;
  box-sizing: border-box;
  display: block;
  margin: auto;
}
@media (min-width: $tablet-width){
  .main-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main-form__fieldset{
    outline: 1px solid red;
    display: flex;
    padding: 0;
  }
  .fieldset-header{
    font-size: 21px;
  }
  .fieldset-input{
    flex: auto;
  }
  .user-op{
    order: 1;
    flex: 1 1 280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
  }
  .user-op__header{
    flex-basis: 100%;
    margin-bottom: 60px;
  }
  .user-op__label{
    flex: 1 0 80%;
    text-align: right;
    padding-right: 65px;
    text-transform: none;
  }
  .user-op__input{
    flex: 0 0 20%;
  }
  .username{
    order: 2;
    flex: 1 1 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 60px;
  }
  .username__header{
    flex: 1 0  100%;
    text-align: left;
    margin-bottom: 55px;
  }
  .user-contacts{
    order: 3;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 60px;
    padding-right: 60px;
  }
  .user-contacts__header{
  }
  .user-contacts__label{
    padding-left: 20px;
  }
  .user-contacts__input{
    align-self: auto;
    flex-grow: 1;
  }
  .user-visited{
    order: 4;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 96px;
    padding-right: 93px;
  }
  .user-visited__header{
    flex-basis: 100%;
    margin-top: 50px;
    margin-bottom: 65px;
  }
  .user-visited__label{
    flex: 1 0 160px;
    text-transform: none;
  }
  .user-visited__input{
    flex: 2 0 100px;
  }
  .user-feedback{
    order: 5;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;
  }
  .user-feedback__header{
    flex-basis: 100%;
    margin-top: 35px;
    margin-bottom: 60px;
  }
  .textarea-container{
    flex-basis: 100%;
  }
  .main-form__btn{
    order: 6;
    margin-left: 60px;
  }
}
@media (min-width: $desktop-width){
  .user-visited__input{
    flex: 1 0 50px;
  }
  .username__label{
    flex: 0 0 50px;
    max-width: 80px;
  }
  .username__input{
    flex: 1 0 315px;
    max-width: 100%;
  }
  .user-contacts{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .user-contacts__header{
    flex-basis: 100%;
    margin-bottom: 100px;
  }
  .user-contacts__label{
    flex: 0 0 166px;
    padding-top: 25px;
  }
  .user-contacts__input{
    flex: 0 0 320px;
  }
  .user-visited__header{
    margin-top: 20px;
  }
  .user-feedback__header{
    margin-top: 20px;
  }
  .user-feedback__text{
    width: 80%;
  }
  .main-form__btn{
    width: 480px;
    margin-left: 120px
  }

}
