.modal{
  outline: 1px solid red;
}
.modal__header{
  text-align: center;
  font-size: 18px;
  padding-top: 45px;
  padding-bottom: 30px;
}
.modal__text{
  text-align: center;
  margin-bottom: 30px;
}
.modal__btn{
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  display: block;
  background-color: $background-main;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  border: none;
}
.modal-error__btn{
  width: 180px;
}
.modal-success__btn{
  width: 280px;
}
