.page-main{
  padding-top: 45px;
}
.page-main__header{
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 42px;
}
.page-main__header-intro{
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 21px;
  font-weight: 400;
}
@media (min-width: $tablet-width){
  .page-main__header{
    font-size: 21px;
  }
  .page-main__header-wrap{
    display: none;
  }
  .page-main__intro-wrap{
    display: none;
  }
}
