.page-main{
}
.page-main__header{
  text-align: center;
  line-height: 26px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 32px;

    &--form, &--photo{
      margin-bottom: 24px;
    }
}
.page-main__header-intro{
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 30px;
  padding-right: 25px;
  padding-left: 25px;

  &--form{
    padding: 0;
  }

}
@media (min-width: $tablet-width){
  .page-main__header{
    font-size: 21px;

    &--form{
      font-size: 30px;
    }

    &--photo{
      font-size: 30px;
    }
  }
  .page-main__header-intro--form{
    padding-right: 150px;
    padding-left: 150px;
  }
  .page-main__header-wrap{
    display: none;
  }
  .page-main__intro-wrap{
    display: none;
  }
  .page-main__header-intro{
    margin-bottom: 50px;
  }
}
@media (min-width: $desktop-width) {
  .page-main__header--form{
      margin-top: 115px;
  }
}
