.page-footer{
  padding-top: 40px;
  padding-bottom: 23px;
}
.page-footer__header{
    text-align: center;
    padding-bottom: 43px;
}
.copyright{
  text-align: center;
  background-image: url('/img/htmlacademy.svg');
  background-repeat: no-repeat;
  background-position: 60%;
}
@media(min-width: $tablet-width){
  .page-footer__wrapper{
    display: flex;
    justify-content: space-around;
  }
}
