.page-header{
}
.page-header__logo-image{
  display: block;
  margin: auto;
  width: 103px;
}
.page-header__promo{
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-size: cover;
}
.page-header__promo-text{
  display: block;
  margin: auto;
  max-width: 90%;
  padding-top: 90px;
  padding-bottom: 76px;

  &--form{
    max-width: 70%;
    padding-top: 50px;
    padding-bottom: 69px;
  }
}
.promo-image-wrapper{
}
.decor-box{
}
@media (min-width: $tablet-width){
  .page-header__promo{
    margin-top: -20px;
  }
  .page-header__promo-text{
    padding-top: 78px;

    &--form{
      padding-top: 90px;
      padding-bottom: 120px;
    }
  }
}
@media (min-width: $desktop-width){
  .page-header__promo-text--form{
    padding-bottom: 130px;
  }  
}
