.page-header{
}
.page-header__logo-image{
  display: block;
  margin: auto;
}
.page-header__promo{
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}
.page-header__promo-text{
  display: block;
  margin: auto;
  max-width: 80%;
}
