.page-content__promo {
  &--extended {
    .page-content__promo-text {
      color: #ffffff;

      background-color: #81b3d2;
    }
  }

  &--short {
    padding-left: 20px;
    padding-right: 20px;

    text-align: center;

    background-color: #eeeeee;

    .page-content__promo-text {
      padding-top: 27px;
      padding-bottom: 27px;

      &:not(:last-child) {
        border-bottom: 1px solid #d6d6d6;
      }
    }

    .page-content__title {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .page-content__text {
      width: 250px;
    }
  }

  &--top {
    .page-content__title {
      margin-top: 41px;
      margin-bottom: 10px;
    }
  }
}

.page-content__promo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;

  text-align: center;
}

.page-content__triangle-mask {
  width: 100%;
  height: auto;
}

.page-content__promo-picture {
  width: 320px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;

  background-color: #ded3d1;
}

.page-content__features {
  padding-left: 20px;
  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 9px;
}

.page-content__title {
  margin-top: 39px;
  margin-bottom: 9px;

  br {
    display: none;
  }
}

.page-content__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 280px;
}

.page-content__search {
  padding-left: 20px;
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 49px;

  text-align: center;

  .page-content__title {
    margin-top: 0;
    margin-bottom: 19px;
  }

  .page-content__text {
    margin-bottom: 35px;
    padding-left: 0;
    padding-right: 0;

    line-height: 24px;
  }

  br {
    display: none;
  }
}

.page-content__search-button {
  margin-left: auto;
  margin-right: auto;
  width: 280px;

  text-decoration: none;
}

.page-content__map {
  position: relative;

  height: 350px;

  text-align: center;

  background-color: #e3e3d0;
}

.page-content__map-marker {
  position: absolute;
  left: calc(50% - 14px);
  top: calc(50% - 14px);

  box-sizing: content-box;
  width: 17px;
  height: 17px;

  font-size: 0;

  background-color: #81b4d4;
  border: 5px solid #ffffff;
  border-radius: 50%;
}


@media (min-width: 768px) {
  .page-content {
    margin: 0 auto;
    width: 768px;
  }

  .page-content__triangle-mask {
    display: none;
  }

  .page-content__promo {
    &--extended {
      display: flex;

      .page-content__text {
        padding-left: 0;
        padding-right: 0;
        width: 168px;
      }

      &:nth-child(4) {
        .page-content__promo-text {
          order: 1;
        }
      }
    }

    &--short {
      display: flex;
      flex-wrap: wrap;
      padding: 0;

      .page-content__promo-text {
        padding-top: 45px;
        padding-bottom: 44px;

        &:not(:last-child) {
          border-bottom: none;
        }
      }

      .page-content__text {
        margin-bottom: 0;
        width: 158px;
      }
    }

    &--top {
      .page-content__title {
        margin-top: 0;
      }
    }
  }

  .page-content__promo-text {
    padding-left: 20px;
    padding-top: 45px;
    padding-right: 20px;
    width: 256px;
  }

  .page-content__title {
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;

    br {
      display: block;
    }
  }

  .page-content__number {
    margin-bottom: 7px;
  }

  .page-content__text {
    margin-left: 0;
    margin-right: 0;
  }

  .page-content__promo-picture {
    align-self: center;
    width: 512px;
    height: 256px;
  }

  .page-content__features {
    padding: 0;
  }

  .page-content__search {
    padding-top: 53px;
    padding-bottom: 58px;

    .page-content__title {
      margin-bottom: 29px;
    }

    .page-content__text {
      margin-bottom: 42px;
      width: auto;
    }

    br {
      display: block;
    }
  }

  .page-content__search-button {
    width: 458px;
  }

  .page-content__map {
    background-color: #d6e5b8;
  }
}


@media (min-width: 1200px) {
  .page-content {
    width: 100%;

    background-color: #ffffff;
  }

  .page-content__promo {
    overflow: hidden;

    &--extended {
      .page-content__text {
        width: 275px;
      }

      &:nth-child(4) {
        .page-content__promo-text {
          padding-top: 53px;
        }

        .page-content__title {
          margin-bottom: 10px;
        }

        .page-content__text {
          width: 218px;
        }
      }
    }

    &--short {
      .page-content__text {
        padding-left: 15px;
        padding-right: 15px;
        width: 320px;
      }

      .page-content__promo-text {
        &:first-child {
          padding-left: 30px;
          padding-right: 30px;
          padding-bottom: 65px;
        }
      }
    }
  }

  .page-content__promo-text {
    padding-left: 46px;
    padding-top: 52px;
    padding-right: 46px;
    padding-bottom: 33px;
    width: 400px;

    &:nth-child(2) {
      .page-content__text {
        width: 300px;
      }
    }
  }

  .page-content__promo-picture {
    width: 800px;
  }

  .page-content__promo-img {
    margin-top: -74px;
  }

  .page-content__title {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: 155px;
  }

  .page-content__search {
    padding-bottom: 66px;

    .page-content__title {
      width: auto;
    }

    .page-content__text {
      margin-bottom: 47px;
    }
  }
}
