.photo-list{
  @include list-style-none;
}
.photo-list__item{
  padding-top: 24px;
}
.photo-block{
  margin: 0;
}
.photo-block__image{
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.photo-block__comments{
  font-size: 14px;
  margin-bottom: 14px;
}
.photo{}
.photo__author-name{
  font-size: 14px;
  margin-bottom: 14px;
}
.photo__like-counter{
  font-size: 14px;
}
@media (min-width: $tablet-width){
  .photo-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
  }
  .photo{
    &:first-of-type{
      flex-basis: 100%;
    }
    &:nth-of-type(n+2){
      flex: 1 1 324px;
    }
  }
  .photo-block__image{
    margin: 0;
  }
  .promo-video{
    padding-left: 60px;
  }
}
@media (min-width: $desktop-width){
  .photo-list{
    padding-left: 0;
  }
}
