.promo{
  padding-top: 30px;
  padding-bottom: 50px;
}
.promo__header{
  text-align: center;
  font-size: 21px;
  padding-bottom: 24px;
}
.promo__text{
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 40px;

  &--photo{
    padding-left: 23px;
    padding-right: 20px;
    text-align: center;
  }
}
.promo__link{
  display: block;
  padding: 20px 43px;
  margin: auto;
  background: $background-main;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
.image-wrapper{
  width: 100%;
}
.promo__text-wrap{
  display: none;
}
@media (min-width: $tablet-width){
  .promo__header{
    font-size: 30px;
  }
  .promo__text-wrap{
    display: block;
  }
  .promo__link{
    font-size: 21px;
    font-weight: bold;
    width: 460px;
  }
}
