.promo{
  padding-top: 7px;
  margin-bottom: 53px;

  &--photo{
    margin-bottom: 40px;
  }
}
.promo__header{
  text-align: center;
  font-size: 21px;

  &--photo{
    font-size: 18px;
    margin-bottom: 30px;
  }
}
.promo__text{
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  width: 280px;
  margin: auto;
  margin-bottom: 37px;

  &--photo{
    width: 240px;
    padding-left: 23px;
    padding-right: 20px;
    text-align: center;
  }
}
.promo__link{
  display: block;
  width: 250px;
  padding: 16px 15px;
  margin: auto;
  background: $background-main;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.image-wrapper{
  width: 100%;
}
.promo__text-wrap{
  display: none;
}
.promo-video--cssless{
  display: none;
}
.promo-video__control-panel{
  width: 88%;
  margin: auto;
  margin-top: -50px;
}
.scale{
  padding-top: 23px;
  padding-bottom: 20px;
  background-color: #504a47;
  opacity: 0.8;
}
.scale__volume{
  height: 5px;
  width: 80%;
  background-color: #ffffff;
  opacity: 0.6;
  margin: auto;
  position: relative;
}
.scale__volume-slider{
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: -4px;
  left: 30%;
  background-color: #ffffff;
  opacity: 1;
  z-index: 5;
}
.control-panel{
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  padding: 22px 23px 24px 25px;

}
.control-panel__icon{
  width:19px;
  height: 19px;
  fill: #5c6870;
}
.control-panel__icon-container{
  &--replay{
    margin-right: auto;
  }
  &--subtitles{
    margin-right: 32px;
  }
}


@media (min-width: $tablet-width){
  .promo{
    margin-bottom: 64px;
  }
  .promo__header{
    font-size: 30px;
    margin: 0;
    margin-bottom: 26px;
  }
  .promo__text{
    width: auto;
    margin-bottom: 42px;
  }
  .promo__text-wrap{
    display: block;
  }
  .promo__link{
    font-size: 21px;
    font-weight: bold;
    width: 429px;
  }
}
