.site-list{
  @include list-style-none;
  position: relative;
}
.site-list__item{
  text-align: center;
  background: $background-main;

      &--logo{
        position: absolute;
        background: transparent;
        padding: 0;
        bottom: -84px;
        left: 50%;
        margin-left: -45px;
      }

      &:not(first-child){
        border-top: 1px solid #9ac2db;
      }

      &:not(last-child){
        border-bottom: 1px solid #678fa8;
      }
}
.link{
  display: block;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  line-height: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.site-list__toggle{
  float: right;
}

@media(min-width: $tablet-width){
  .site-list{
    display: flex;
    height: 76px;
    padding-left: 49px;
    padding-right: 25px;
  }
  .site-list__item{
    background: none;
    padding: 0;

    &:not(:nth-of-type(4)){
      margin-right: 75px;
    }

    &:not(first-child){
      border-top: 0;
    }

    &:not(last-child){
      border-bottom: 0;
    }

    &:nth-child(2){
      margin-right: 209px;
    }

    &:nth-child(3){
      margin-right: 50px;
    }

    &--logo{
      position: static;
      margin-left: 0;
      margin-top: -22px;
    }
  }
  .site-list__toggle{
    display: none;
  }
  .link{
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    padding-top: 16px;
    padding-bottom: 17px;
  }
}
@media (min-width: $desktop-width) {
  .site-list{
    padding-left: 15px;
  }
  .site-list__item{
    width: 20%;
    margin: 0;

    &:not(:nth-of-type(4)){
      margin-right: 0;
    }

    &:nth-child(2){
      margin-right: 270px;
    }

    &:nth-child(3){
      margin-right: 20px;
    }
  }
}
