.site-list{
  @include list-style-none;
  position: relative;
}
.site-list__item{
  text-align: center;
  background: $background-main;
  padding-top: 21px;
  padding-bottom: 21px;

      &--logo{
        position: absolute;
        background: transparent;
        padding: 0;
        bottom: -84px;
        left: 50%;
        margin-left: -45px;
      }
}
.link{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
@media(min-width: $tablet-width){
  .site-list{
    display: flex;
    justify-content: space-around;
  }
  .site-list__item{
    background: none;

    &--logo{
      position: static;
      margin-left: 0;
    }
  }
  .site-list__toggle{
    display: none;
  }
  .link{
    color: #000000;
  }
}
