.social{
    &__list{
      @include list-style-none;
      text-align: center;
      padding-bottom: 43px;
    }

    &__item{
      display: inline-block;
      width: 46px;
      height: 46px;
      background-color: $background-main;
    }


}
