.social {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.social__item {
  &:not(:last-child) {
    margin-right: 6px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  color: #ffffff;

  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
  }
}


@media (min-width: 768px) {
  .social {
    margin-bottom: 0;
  }
}


@media (min-width: 1200px) {
  .social {
    margin-right: auto;
  }
}
