.video {
  display: flex;
  flex-direction: column;
  align-items: center;

  video {
    width: 320px;
    height: 201px;

    background-color: #cb7e6e;
    background-image: url("../img/video-mobile@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/video-mobile@2x.jpg");
    }
  }
}

.video__control {
  position: relative;

  display: flex;
  justify-content: center;
}

.video__range {
  position: absolute;
  top: -45px;
  left: calc(50% - 140px);

  display: flex;
  align-items: center;
  padding-left: 22px;
  padding-right: 23px;
  width: 280px;
  height: 45px;

  font-size: 0;

  background-color: rgba(0, 0, 0, 0.6);
}

.video__scale {
  position: relative;

  width: 235px;
  height: 3px;

  background-color: rgba(255, 255, 255, 0.2);
}

.video__slider {
  position: absolute;
  top: -3px;
  left: 36px;

  width: 9px;
  height: 9px;

  background-color: #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.video__subtitles,
.video__replay,
.video__full-screen{
  border: none;
  background-color: transparent;
  outline: none;
}

.video__controls {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 23px;
  width: 280px;
  height: 66px;

  font-size: 0;

  background-color: #f2f2f2;

  svg {
    fill: #5c6870;
  }
}

.video__replay {
  width: 16px;
  height: 20px;

  color: #5c6870;

  cursor: pointer;

  &  svg {
        color: #5c6870;

        &:hover{
          color: #333333;
        }

        &:active{
          color: #c1c1c1;
        }
      }
  }


.video__subtitles {
  margin-left: auto;
  margin-right: 31px;
  width: 32px;
  height: 20px;

  color: #5c6870;

  cursor: pointer;

  &:hover {
    svg {
      color: #333333;
    }
  }

  &:active {
    svg {
      color: #c1c1c1;
    }
  }
}

.video__full-screen {
  width: 20px;
  height: 20px;

  color: #5c6870;

  cursor: pointer;

  &:hover {
    svg {
      color: #333333;
    }
  }

  &:active {
    svg {
      color: #c1c1c1;
    }
  }
}


@media (min-width: 768px) {
  .video {
    margin-bottom: 41px;
    width: 100%;

    background-color: #c9a296;

    video {
      width: 648px;
      height: 500px;

      background-image: url("../img/video-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-size: 648px 500px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/video-tablet@2x.jpg");
      }
    }
  }

  .video__control {
    width: 648px;

    svg {
      fill: #ffffff;
    }
  }

  .video__range {
    top: -93px;
    left: 0;

    padding-left: 93px;
    padding-right: 166px;
    width: 648px;
    height: 93px;
  }

  .video__scale {
    z-index: 10;

    width: 389px;
  }

  .video__slider {
    left: 113px;
  }

  .video__controls {
    position: absolute;
    left: 0;
    bottom: 14px;

    padding-left: 35px;
    padding-right: 41px;
    width: 648px;

    background-color: transparent;
  }
}


@media (min-width: 1200px) {
  .video {
    margin-bottom: 83px;

    video {
      width: 800px;

      background-image: url("../img/video-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: 800px 500px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/video-desktop@2x.jpg");
      }
    }
  }

  .video__control {
    width: 800px;
  }

  .video__range {
    width: 800px;
  }

  .video__scale {
    width: 540px;
  }

  .video__slider {
    left: 112px;
  }

  .video__controls {
    padding-left: 34px;
    width: 800px;
  }

  .video__subtitles {
    margin-left: 624px;
  }
}
